*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoomer img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.2);
    margin: 0 100px;
    cursor: none;
}

#mirror {
    margin: 10px;
    width: 250px;
    height: 250px;
    background-image: url(image/warm.jpg);
    border-radius: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.hide {
    display: none;
}